@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(33, 37, 34);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.calculator {
    height: 350px;
    width: 400px;
    background-color: #87F698;
    border: 5px solid #203C1B;
    border-radius: 12px;
}


.display {
    font-family: "Press Start 2P", cursive;
    height: 40px;
    width: 350px;
    padding: 8px 20px;
    letter-spacing: 3px;
    background-color: #ABA76F;
    color: #3A3E18;
    border: 2px solid #555849;
    box-shadow: inset 5px 5px 5px #0B202440;
    font-size: 22px;
    text-align: right;
    border-radius: 3px;
}

button {
    height: 42px;
    width: 42px;
    padding: 5px;
    background-color: #4CA345;
    color: white;
    border: 1px solid #1F4117;
    border-radius: 2px;
    font-size: 24px;
    box-shadow: 4px 4px 2px #1F411740;
    font-weight: 1000;
}